<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2048">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/captura2048"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/captura2048_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".DataBase.ScoresActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DataBase.EditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".listView.ListMenu"
            android:screenOrientation="portrait"/>
        <activity android:name= ".game.GameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".listView.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>